<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.ucare">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <uses-permission android:name="android.permission.USE_FULL_SCREEN_INTENT" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UCare">
        <activity android:name=".screens.alarm.AlarmActivity">

        </activity>
        <activity android:name=".screens.medicine.AddMedicineActivity" />
        <activity android:name=".screens.auth.ResetPasswordActivity" />
        <activity android:name=".screens.schedule.ScheduleActivity" />
        <activity android:name=".screens.auth.SignUpActivity" />
        <activity android:name=".screens.auth.LoginActivity" />
        <activity android:name=".screens.main.createprofile.CreateProfileActivity" />
        <activity
            android:name=".screens.main.MainActivity"
            android:label="@string/title_activity_main" />
        <activity android:name=".screens.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <receiver
            android:name=".screens.alarm.MyBroadCastReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".screens.alarm.MyService"
            android:enabled="true"
            android:exported="false"
            android:process=":remote" />


        <receiver
            android:name=".screens.alarm.NotificationActionReceiver"
            android:directBootAware="true"
            android:enabled="true"
            android:exported="true">

        </receiver>

    </application>

</manifest>